<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/des.css" %}">
    <title></title>
</head>
<body>
    <h1>Movies Information</h1>
    {% if movies_list %}
        <table>
            <thead>
                <th>Released Date</th>
                <th>Movie Name</th>
                <th>Hero</th>
                <th>Heroine</th>
                <th>Rating</th>
            </thead>
            {% for movie in movies_list %}
            <tr>
                <td>{{movie.date}}</td>
                <td>{{movie.moviename}}</td>
                <td>{{movie.hero}}</td>
                <td>{{movie.heroine}}</td>
                <td>{{movie.rating}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>Movies Not Found</p>
        {% endif %}
    </div>
</body>
</html>